body {
	font-family: Verdana;
	font-size: 12px;
	color: #444;
}

section {
	width: 800px;
	margin: 70px auto;
}
hr {
	margin: 30px auto;
}
/*****************************************/
h1#secrets { color: gray; }
@supports ( text-shadow: 0 0 .3em grey ) {
	h1#secrets {
		color: transparent;
		text-shadow: 0 0 .3em grey;
	}
}
/*****************************************/
button#clickme {
	padding: .3em .8em;
	border: 1px solid #446d88;
	background: #58a linear-gradient(hsla(0,0%,100%,0.2), transparent);
	border-radius: .2em;
	box-shadow: 0 .05em .25em gray;
	color: white;
	text-shadow: 0 -.05px .05em #335166;
	font-size: 125%;
	line-height: 1.5;
}
/*****************************************/
#linear-gradient {
	width: 100px;
	height: 100px;
	background: linear-gradient(#fb3 33.3%, #58a 0, #58a 66.6%, #9c4 0);
	background-size: 100% 50px;
}
/*****************************************/
#tailor {
	width: 200px;
	height: 120px;
	background-color: #666;
	border: 1px solid #666;
	border-radius: 5px;
	outline: 2px dashed #fff;
	outline-offset: -13px;
}
/*****************************************/
#x-linear-gradient {
	width: 100px;
	height: 100px;
	/*background: linear-gradient(45deg, #fb3 25%, #58a 0, #58a 50%, #fb3 0, #fb3 75%, #58a 0);*/
	/*background-size: 30px 30px;*/
	background: repeating-linear-gradient(65deg, #fb3, #fb3 15px, #58a 0, #58a 30px);
}
/*****************************************/
#tot {
	width: 100px;
	height: 100px;
	background: #58a;
	background-image: repeating-linear-gradient(30deg, hsla(0,0%,100%,.1), hsla(0,0%,100%,.1) 15px, transparent 0, transparent 30px);
}

/*****************************************/
#grid {
	height: 100px;
	width: 100px;
	background: white;
	background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 0), linear-gradient(rgba(200,0,0,.5) 50%, transparent 0);
	background-size: 25px 25px;
}

/*****************************************/

.gradual {
	height: 180px;
	width: 180px;
	margin-bottom: 20px;
}

#weave {
	background: linear-gradient(135deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px), linear-gradient(225deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
	background-color:#708090;
	background-size: 64px 128px
}

#seigaiha {
	background-color:silver;
	background-image: radial-gradient(circle at 100% 150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent), radial-gradient(circle at 0    150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent), radial-gradient(circle at 50%  100%, white 10%, silver 11%, silver 23%, white 24%, white 30%, silver 31%, silver 43%, white 44%, white 50%, silver 51%, silver 63%, white 64%, white 71%, transparent 71%, transparent), radial-gradient(circle at 100% 50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent), radial-gradient(circle at 0    50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent);
	background-size:100px 50px;
}

#bricks {
	background-color: silver;
	background-image: linear-gradient(335deg, #b00 23px, transparent 23px), linear-gradient(155deg, #d00 23px, transparent 23px), linear-gradient(335deg, #b00 23px, transparent 23px), linear-gradient(155deg, #d00 23px, transparent 23px);
	background-size: 58px 58px;	
	background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}

#checkerboard {
	background-color: #eee;
	background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black);
	background-size:60px 60px;
	background-position:0 0, 30px 30px
}

#madras {
	background-color: hsl(34, 53%, 82%);
	background-image: repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px, hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px, hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px, hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px, hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px), repeating-linear-gradient(135deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px, hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(5, 53%, 63%, 0.5) 35px, hsla(5, 53%, 63%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px, hsla(5, 53%, 63%, 0.5) 60px, hsla(5, 53%, 63%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 70px, hsla(35, 91%, 65%, 0.5) 80px, hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(5, 53%, 63%, 0.5) 90px, hsla(5, 53%, 63%, 0.5) 110px, hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, hsla(197, 62%, 11%, 0.5) 140px, hsla(197, 62%, 11%, 0.5) 160px);
}

#chocolate-weave {
	background: linear-gradient(45deg, #dca 12%, transparent 0, transparent 88%, #dca 0), linear-gradient(135deg, transparent 37%, #a85 0, #a85 63%, transparent 0), linear-gradient(45deg, transparent 37%, #dca 0, #dca 63%, transparent 0) #753;
	background-size: 25px 25px;
}

#lined-paper {
	background-color: #fff; 
	background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
}

#starry-night {
	background-color:black;
	background-image: radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px), radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px), radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px), radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

/*****************************************/

#image-border {
	width: 100px;
	height: 100px;
	padding: 1em;
	border: 1em solid transparent;
	background: linear-gradient(white, white) padding-box, url(img/17020603.jpeg) border-box 0 / cover;
}

/*****************************************/

@keyframes ants { to{background-position:100%} }

#marching-ants {
	width: 100px;
	height: 100px;
	padding: 1em;
	border: 1px solid transparent;
	background: linear-gradient(white,white) padding-box, repeating-linear-gradient(-45deg, black 0, black 25%, white 0, white 50%) 0 / .6em .6em;
	animation: ants 12s linear infinite;
}

#footnote {
	color: #444;
	border-top: .2em solid transparent;
	border-image: 100% 0 0 linear-gradient(90deg, currentColor 4em, transparent 0);
	padding-top: 1em;
}

/*****************************************/

/**
 * Parallelograms — with pseudoelements
 */

.button {
	position: relative;
	display: inline-block;
	padding: .5em 1em;
	border: 0; margin: .5em;
	background: transparent;
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font: bold 200%/1 sans-serif;
}

.button::before {
	content: ''; /* To generate the box */
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: -1;
	background: #58a;
	transform: skew(-30deg);
}

.box {
	width: 100px;
	height: 100px;
}

/*****************************************/

#rhombus {
	clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
	background-color: #fac;
	transition: 1s clip-path;
}

#rhombus:hover {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#corner-cut {
	width: 100px; height: 100px;

	background: #fac;
	background: linear-gradient(135deg, transparent 12px, #fac 0) top left, linear-gradient(-135deg, transparent 12px, #fac 0) top right, linear-gradient(-45deg, transparent 12px, #fac 0) bottom right, linear-gradient(45deg, transparent 12px, #fac 0) bottom left;
	background-size: 50% 50%;	
	background-repeat: no-repeat;
}

#arc-corner-cut {
	width: 100px; height: 100px;
	background: #fac;
	background: radial-gradient(circle at top left, transparent 15px, #fac 0) top left, radial-gradient(circle at top right, transparent 15px, #fac 0) top right, radial-gradient(circle at bottom right, transparent 15px, #fac 0) bottom right, radial-gradient(circle at bottom left, transparent 15px, #fac 0) bottom left;
	background-size: 50% 50%;
	background-repeat: no-repeat;

	margin-top: 20px;
}
/*****************************************/

#trapezoid {
	position: relative;
	display: inline-block;
	padding: .5em 1em .35em;
	color: white;
}

#trapezoid::before {
	content: '';
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: -1;
	background: #58a;
	transform: scaleY(1.1) perspective(1em) rotateX(5deg);
	transform-origin: bottom;
}

/*****************************************/

#pie {
	width: 100px; height: 100px;
	border-radius: 50%;
	background-color: yellowgreen;
	background-image: linear-gradient(to right, transparent 50%, #655 0);
}

#pie::before {
	content: '';
	display: block;
	margin-left: 50%;
	height: 100%;
	border-radius: 0 100% 100% 0 / 50%;
	background-color: inherit;
	transform-origin: left;
	transform: rotate(.15turn);
}

/*****************************************/



.pie {
	display: inline-block;
	position: relative;
	width: 100px;
	line-height: 100px;
	border-radius: 50%;
	background: yellowgreen;
	background-image: linear-gradient(to right, transparent 50%, #655 0);
	color: transparent;
	text-align: center; 
}

@keyframes spin {
	to { transform: rotate(.5turn); }
}
@keyframes bg {
	50% { background: #655; }
}   

.pie::before {
	content: '';
	position: absolute;
	top: 0; left: 50%;
	width: 50%; height: 100%;
	border-radius: 0 100% 100% 0 / 50%;
	background-color: inherit;
	transform-origin: left;
	animation: spin 50s linear infinite, bg 100s step-end infinite;
	animation-play-state: paused;
	animation-delay: inherit;
}

#unilateral-projection {
	background-color: #58a;
	box-shadow: 0 5px 4px -4px black;
}

#bilateral-projection {
	background-color: #58a;
	box-shadow: 5px 0 5px -5px black, -5px 0 5px -5px black;
}

/*****************************************/

#filter {
	filter: sepia(1) saturate(3) hue-rotate(295deg);
}

#filter:hover {
	filter: none;
}

#mixed-model-one-a { display:block; width:540px; height: 601px; background:hsl(355,100%,50%); }

#mixed-model-one {
	mix-blend-mode: luminosity;
}

#mixed-model-two {
	background-image:url(img/17020701.png);
	width:540px; height:601px;
	background-size: cover;
	background-color: hsl(355, 100%, 50%);
	background-blend-mode: luminosity;
	transition: .5s background-color;
}
#mixed-model-two:hover {
	background-color: transparent;
}

/*****************************************/

#background-picture {
	position: relative;
	top: -300px;
	background-image: url(img/17020930.jpeg);
	width: 700px;
	height: 700px;
	z-index: -100;
}

#ground-glass {
	position: relative;
	top: 300px;
	width: 300px;
	padding: 40px;
	margin: 300px auto;
	background-color: hsla(0,0%,100%,.3);
	overflow: hidden;
}	
#ground-glass::before {
	content: '';
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background-image: url(img/17020930.jpeg);
	background-position: -130px -270px;
	z-index: -1;
	filter: blur(12px);
	margin: -30px;
}

#bevel {
	position: relative;

	background: #58a;
	background: linear-gradient(-150deg, transparent 1.5em, #58a 0);
	
	border-radius: .5em;
}

#bevel::before {
	content: '';
	
	position: absolute;
	top: 0; right: 0;
	
	background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.2) 0, rgba(0,0,0,.4)) 100% 0 no-repeat;
	
	width: 1.73em;
	height: 3em;
	
	transform: translateY(-1.3em) rotate(-30deg);
	transform-origin: bottom right;
	
	border-bottom-left-radius: inherit;
	box-shadow: -.2em .2em .3em -.1em rgba(0,0,0,.15);
}


/*****************************************/

dt,dd { display:inline; }

dd {
	margin: 0;
	font-weight: bold;
}

dd + dt::before {
	content: "\A";
	white-space: pre;
}

dd + dd::before {
	content: ", ";
	/* fix the blank character between </br> and <br> */ 
	margin-left: -.25em;
}

#zebra {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	line-height: 1.5;
	padding: .5em;
	background: beige;
	background-image: linear-gradient(rgba(0,0,0,.2) 50%, transparent 0);
	background-size: auto 3em;
	background-origin: content-box;
}

#underline {
	background: linear-gradient(gray, gray) no-repeat;
	background-size: 100% 1px;
	background-position: 0 1.15em;
	text-shadow: .05em 0 white, -.05em 0 white;
}


#concave-light {
	background: hsl(210, 13%, 60%);
	color: hsl(210, 13%, 20%);
	text-shadow: 0 1px 2px white;
}

#convex-light {
	background: hsl(210, 13%, 60%);
	color: hsl(210, 13%, 20%);
	text-shadow: 0px -1px 2px white;
}


#concave-dark {
	background: hsl(210, 13%, 20%);
	color: hsl(210, 13%, 60%);
	text-shadow: 0 -1px 2px black;
}

#convex-dark {
	background: hsl(210, 13%, 20%);
	color: hsl(210, 13%, 60%);
	text-shadow: 0px 1px 2px black;
}

#glow {
	background: #203;
	color: #ffc;
	text-shadow: 0 0 .1em, 0 0 .3em;
}

#three-dimensional {
	width: 250px;
	text-align: center;
	font-size: 40px;
	font-family: "锐字工房巅峰黑简1.0";
	padding: 30px;
	background: #58a;
	color: white;
	text-shadow: 0 .2px hsl(0,0%,85%), 0 .4px hsl(0,0%,80%), 0 .6px hsl(0,0%,75%), 0 .8px hsl(0,0%,70%), 0 1px hsl(0,0%,65%), 0 1.2px hsl(0,0%,60%), 0 1.4px hsl(0,0%,55%), 0 1.6px 10px black;
}


.circular {
	font: bold 120% Verdana, sans-serif;
	width: 30em;
	height: 30em;
	margin: 4em auto 0;
}

.circular svg {
	display: block;
	overflow: visible;
	transition: 10s linear transform;
}

.circular svg:hover { transform: rotate(-2turn); }

.circular text { fill: currentColor }
.circular path { fill: none; }


/* 
input[type="checkbox"] + label::before {
	content: 'a0'; 
	display: inline-block;
	vertical-align: .2em;
	width: 1em;
	height: 1em;
	margin-right: .2em;
	border-radius: .2em;
	background: silver;
	text-indent: .15em;
	line-height: .65;
}

input[type="checkbox"]:checked + label::before {
	content: '2713'; 
	background: yellowgreen;
}

input[type="checkbox"] {
	position: absolute;
	clip: rect(0,0,0,0);
}

input[type="checkbox"]:focus + label::before {
box-shadow: 0 0 .1em .1em #58a;
}

input[type="checkbox"]:disabled + label::before {
background: gray;
box-shadow: none;
color: #555;
} */

input[type="checkbox"] {
position: absolute;
clip: rect(0,0,0,0);
}
input[type="checkbox"] + label {
display: inline-block;
padding: .3em .5em;
background: #ccc;
background-image: linear-gradient(#ddd, #bbb);
border: 1px solid rgba(0,0,0,.2);
border-radius: .3em;
box-shadow: 0 1px white inset;
text-align: center;
text-shadow: 0 1px 1px white;
}
input[type="checkbox"]:checked + label,
input[type="checkbox"]:active + label {
box-shadow: .05em .1em .2em rgba(0,0,0,.6) inset;
border-color: rgba(0,0,0,.3);
background: #bbb;
}


/* #dimmed::before {
	content: '';
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.8);
	z-index: -1;
}
#dimmed {
	background: white;
} */

ul {
	overflow: auto;
	width: 10em;
	height: 8em;
	padding: .3em .5em;
	border: 1px solid silver;
	background: linear-gradient(white, hsla(0,0%,100%,0)), radial-gradient(at top, rgba(0,0,0,.2), transparent 70%);
	background-repeat: no-repeat;
	background-size: 100% 50px, 100% 15px;
	background-attachment: local, scroll;
}

 .image-slider {
	position: relative;
	display: inline-block;
}

.image-slider > div {
	position: absolute;
	top: 0; bottom: 0; left: 0;
	width: 50%;
	max-width: 100%;
	overflow: hidden;
	resize: horizontal;
}

.image-slider > div::before {
	content: '';
	position: absolute;
	bottom: 0; right: 0;
	width: 12px; height: 12px;
	padding: 5px;
	background: linear-gradient(-45deg, white 50%, transparent 0);
	background-clip: content-box;
	cursor: ew-resize;
}

.image-slider img {
	display: block;
	user-select: none;
} 


table {
	table-layout: fixed;
	width: 300px;
	border: 1px solid #ddd;
	margin: auto;
}

 footer {
	background: #333;
	max-width: 600px;
	padding: 1em; rollback version
	padding: 1em calc(50% - 300px);
	color: white;
	text-align: center;
} 

#ball {
	border-radius: 50%;
	border: 1px solid black;
	animation: bounce 1s ease-out;
}
@keyframes bounce {
	50% { transform: translateY(-150px);animation-timing-function: ease-in; }
	to{ transform: translateY(-300px) }

}

.callout {
	display: block;
	margin-left: 100px;
	margin-top: 10px;
	width: 100px;
	height: 100px;
	transform-origin: center top;
	transition: .5s cubic-bezier(.25,.1,.3,1.5) transform;
}

input:not(:focus) + .callout {
	transform: scale(0);
	transition: .25s transform;
}

input:focus + .callout { 
	transform: scale(1.1);
}


/* .callout {
	display: block;
	width: 100px;
	height: 100px;
	transform-origin: center top;
}
input:not(:focus) + .callout {
	transform: scale(0);
	transition: .25s transform;
}
input:focus + .callout { 
	animation: elastic-grow .5s; 
}
@keyframes elastic-grow {
	from { transform: scale(0); }
	70% {
		transform: scale(1.1);
		animation-timing-function: cubic-bezier(.1,.25,1,.25);
	}
} */

.loader {
	height:35px;width:32px;
	background:url(img/tuzki.png);
	animation:test 400ms steps(4) infinite;
}

@keyframes test {
  0% {background-position:0px -0%;}
  100% {background-position:0px -400%;}
}

/* @keyframes blink-smooth { to { color: transparent } }
.highlight { animation: .5s blink-smooth 6 alternate; } */

@keyframes blink { 50% { color: transparent } }
.highlight { animation: 1s blink 3 steps(1); }

@keyframes typing { from {width:0} }
@keyframes caret { 50% {border-color:transparent} }
.code {
	font-size: 18px;
	font-family: Consolas;
	width: 15ch;
	animation: typing 6s steps(15), caret 1s steps(1) infinite;
	white-space: nowrap;
	overflow: hidden;
	border-right: .3em solid;
}




/* @keyframes spin { to{transform:rotate(1turn)} }

.avatar {
	animation: spin 3s infinite linear;
	transform-origin: 50% 150px; 150px = 路径的半径
}

.avatar img {
	display: block;
	border-radius: 50px;
	width: 100px; 
	height: 100px;
	position:absolute;
	left: calc(50% - 50px);
	animation: inherit;
	animation-direction: reverse;
} */


.path {
	position: relative;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	background: #FDC110;
}

@keyframes spin {
	from {
		transform: rotate(0turn) translateY(-150px) translateY(50%)
		rotate(1turn);
	}
	to {
		transform: rotate(1turn) translateY(-150px) translateY(50%)
	rotate(0turn);
	}
}

.avatar {
	display: block;
	border-radius: 50px;
	width: 100px; 
	height: 100px;
	position:absolute;
	left: calc(50% - 50px);
	top: calc(50% - 50px);
	animation: spin 3s infinite linear;
}
